<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>&lt;line-drawing&gt;</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="description" content="" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✏️</text></svg>"
    />

    <script src="line-drawing-component.js" type="module"></script>

    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>&lt;line-drawing&gt;</h1>

    <figure>
      <line-drawing> {% include './drawings/kaleido-paint' %} </line-drawing>

      <figcaption>An example of the line drawing component in use.</figcaption>
    </figure>
  </body>
</html>
