<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>&lt;line-drawing&gt;</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="description" content="" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✏️</text></svg>"
    />

    <script src="line-drawing-component.js" type="module"></script>

    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <main>
      <div class="hero">
        <line-drawing> {% include './drawings/kaleido-paint' %} </line-drawing>
        <h1>&lt;line-drawing&gt;</h1>
      </div>

      <p>
        The <code>&lt;line-drawing&gt;</code> web component allows you to easily
        apply
        <a href="https://css-tricks.com/svg-line-animation-works/"
          >SVG line animation</a
        >
        to shapes in an SVG.
      </p>

      <p>Using it requires a couple of steps:</p>

      <ol>
        <li>Load the script (I recommend as <code>type="module"</code>.)</li>
        <li>
          Wrap your <code>&lt;svg&gt;</code> element in a
          <code>&lt;line-drawing&gt;</code> element.
        </li>
      </ol>

      <p>Here's what this looks like:</p>

      <pre><code>
        <!-- TODO: Real unpkg script -->
&lt;script src="path-to-script"&gt;&lt;/script&gt; 

&lt;line-drawing&gt;
  &lt;svg viewBox="0 0 100 100"&gt;
     &lt;!-- Your SVG contents  --&gt;
  &lt;/svg&gt;
&lt;/line-drawing&gt;
      </code></pre>

      <!-- TODO: guide on doing text right -->
      <p>
        The web component can handle most SVG elements except for
        <code>&lt;text&gt;</code>. If you want to animate text you'll need to
        convert the text to <code>&lt;path&gt;</code> elements first.
      </p>

      <h2>Configuration Options</h2>

      <!-- Overview Table -->

      <h3>Triggering the Animation</h3>

      <h3>Changing the Duration</h3>

      <h3>Animating Lines One-By-One</h3>

      <h3>Looping</h3>

      <h3>Handling Elements Without Strokes</h3>

      <h3>Handling Elements With Fills</h3>
    </main>
  </body>
</html>
