<svg
  viewBox="0 0 850 1100"
  width="8.5in"
  height="11in"
  role="img"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>
    A geometric pattern composed of nested circles and squiggly lines. Inspired
    by Legends of Zelda: Tears of the Kingdom
  </title>

  <defs>
    <linearGradient id="gold-gradient" gradientTransform="rotate(-50)">
      <stop offset="5%" stop-color="hsl(44, 100%, 67%)"></stop>
      <stop offset="95%" stop-color="hsl(44, 70%, 27%)"></stop>
    </linearGradient>
  </defs>

  <g class="pattern">
    <path
      d="M-10,-73C-12,-60.833333333333336,-22,-24.333333333333332,-22,0C-22,24.333333333333332,-10,48.66666666666667,-10,73C-10,97.33333333333333,-22,121.66666666666667,-22,146C-22,170.33333333333334,-10,194.66666666666666,-10,219C-10,243.33333333333334,-22,267.6666666666667,-22,292C-22,316.3333333333333,-10,340.6666666666667,-10,365C-10,389.3333333333333,-22,413.6666666666667,-22,438C-22,462.3333333333333,-10,486.6666666666667,-10,511C-10,535.3333333333334,-22,559.6666666666666,-22,584C-22,608.3333333333334,-10,632.6666666666666,-10,657C-10,681.3333333333334,-22,705.6666666666666,-22,730C-22,754.3333333333334,-10,778.6666666666666,-10,803C-10,827.3333333333334,-22,851.6666666666666,-22,876C-22,900.3333333333334,-10,924.6666666666666,-10,949C-10,973.3333333333334,-22,997.6666666666666,-22,1022C-22,1046.3333333333333,-10,1070.6666666666667,-10,1095C-10,1119.3333333333333,-20,1155.8333333333333,-22,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M6,-73C4,-60.833333333333336,-6,-24.333333333333332,-6,0C-6,24.333333333333332,6,48.66666666666667,6,73C6,97.33333333333333,-6,121.66666666666667,-6,146C-6,170.33333333333334,6,194.66666666666666,6,219C6,243.33333333333334,-6,267.6666666666667,-6,292C-6,316.3333333333333,6,340.6666666666667,6,365C6,389.3333333333333,-6,413.6666666666667,-6,438C-6,462.3333333333333,6,486.6666666666667,6,511C6,535.3333333333334,-6,559.6666666666666,-6,584C-6,608.3333333333334,6,632.6666666666666,6,657C6,681.3333333333334,-6,705.6666666666666,-6,730C-6,754.3333333333334,6,778.6666666666666,6,803C6,827.3333333333334,-6,851.6666666666666,-6,876C-6,900.3333333333334,6,924.6666666666666,6,949C6,973.3333333333334,-6,997.6666666666666,-6,1022C-6,1046.3333333333333,6,1070.6666666666667,6,1095C6,1119.3333333333333,-4,1155.8333333333333,-6,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M22,-73C20,-60.833333333333336,10,-24.333333333333332,10,0C10,24.333333333333332,22,48.66666666666667,22,73C22,97.33333333333333,10,121.66666666666667,10,146C10,170.33333333333334,22,194.66666666666666,22,219C22,243.33333333333334,10,267.6666666666667,10,292C10,316.3333333333333,22,340.6666666666667,22,365C22,389.3333333333333,10,413.6666666666667,10,438C10,462.3333333333333,22,486.6666666666667,22,511C22,535.3333333333334,10,559.6666666666666,10,584C10,608.3333333333334,22,632.6666666666666,22,657C22,681.3333333333334,10,705.6666666666666,10,730C10,754.3333333333334,22,778.6666666666666,22,803C22,827.3333333333334,10,851.6666666666666,10,876C10,900.3333333333334,22,924.6666666666666,22,949C22,973.3333333333334,10,997.6666666666666,10,1022C10,1046.3333333333333,22,1070.6666666666667,22,1095C22,1119.3333333333333,12,1155.8333333333333,10,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M38,-73C36,-60.833333333333336,26,-24.333333333333332,26,0C26,24.333333333333332,38,48.66666666666667,38,73C38,97.33333333333333,26,121.66666666666667,26,146C26,170.33333333333334,38,194.66666666666666,38,219C38,243.33333333333334,26,267.6666666666667,26,292C26,316.3333333333333,38,340.6666666666667,38,365C38,389.3333333333333,26,413.6666666666667,26,438C26,462.3333333333333,38,486.6666666666667,38,511C38,535.3333333333334,26,559.6666666666666,26,584C26,608.3333333333334,38,632.6666666666666,38,657C38,681.3333333333334,26,705.6666666666666,26,730C26,754.3333333333334,38,778.6666666666666,38,803C38,827.3333333333334,26,851.6666666666666,26,876C26,900.3333333333334,38,924.6666666666666,38,949C38,973.3333333333334,26,997.6666666666666,26,1022C26,1046.3333333333333,38,1070.6666666666667,38,1095C38,1119.3333333333333,28,1155.8333333333333,26,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M54,-73C52,-60.833333333333336,42,-24.333333333333332,42,0C42,24.333333333333332,54,48.66666666666667,54,73C54,97.33333333333333,42,121.66666666666667,42,146C42,170.33333333333334,54,194.66666666666666,54,219C54,243.33333333333334,42,267.6666666666667,42,292C42,316.3333333333333,54,340.6666666666667,54,365C54,389.3333333333333,42,413.6666666666667,42,438C42,462.3333333333333,54,486.6666666666667,54,511C54,535.3333333333334,42,559.6666666666666,42,584C42,608.3333333333334,54,632.6666666666666,54,657C54,681.3333333333334,42,705.6666666666666,42,730C42,754.3333333333334,54,778.6666666666666,54,803C54,827.3333333333334,42,851.6666666666666,42,876C42,900.3333333333334,54,924.6666666666666,54,949C54,973.3333333333334,42,997.6666666666666,42,1022C42,1046.3333333333333,54,1070.6666666666667,54,1095C54,1119.3333333333333,44,1155.8333333333333,42,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M70,-73C68,-60.833333333333336,58,-24.333333333333332,58,0C58,24.333333333333332,70,48.66666666666667,70,73C70,97.33333333333333,58,121.66666666666667,58,146C58,170.33333333333334,70,194.66666666666666,70,219C70,243.33333333333334,58,267.6666666666667,58,292C58,316.3333333333333,70,340.6666666666667,70,365C70,389.3333333333333,58,413.6666666666667,58,438C58,462.3333333333333,70,486.6666666666667,70,511C70,535.3333333333334,58,559.6666666666666,58,584C58,608.3333333333334,70,632.6666666666666,70,657C70,681.3333333333334,58,705.6666666666666,58,730C58,754.3333333333334,70,778.6666666666666,70,803C70,827.3333333333334,58,851.6666666666666,58,876C58,900.3333333333334,70,924.6666666666666,70,949C70,973.3333333333334,58,997.6666666666666,58,1022C58,1046.3333333333333,70,1070.6666666666667,70,1095C70,1119.3333333333333,60,1155.8333333333333,58,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M86,-73C84,-60.833333333333336,74,-24.333333333333332,74,0C74,24.333333333333332,86,48.66666666666667,86,73C86,97.33333333333333,74,121.66666666666667,74,146C74,170.33333333333334,86,194.66666666666666,86,219C86,243.33333333333334,74,267.6666666666667,74,292C74,316.3333333333333,86,340.6666666666667,86,365C86,389.3333333333333,74,413.6666666666667,74,438C74,462.3333333333333,86,486.6666666666667,86,511C86,535.3333333333334,74,559.6666666666666,74,584C74,608.3333333333334,86,632.6666666666666,86,657C86,681.3333333333334,74,705.6666666666666,74,730C74,754.3333333333334,86,778.6666666666666,86,803C86,827.3333333333334,74,851.6666666666666,74,876C74,900.3333333333334,86,924.6666666666666,86,949C86,973.3333333333334,74,997.6666666666666,74,1022C74,1046.3333333333333,86,1070.6666666666667,86,1095C86,1119.3333333333333,76,1155.8333333333333,74,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M102,-73C100,-60.833333333333336,90,-24.333333333333332,90,0C90,24.333333333333332,102,48.66666666666667,102,73C102,97.33333333333333,90,121.66666666666667,90,146C90,170.33333333333334,102,194.66666666666666,102,219C102,243.33333333333334,90,267.6666666666667,90,292C90,316.3333333333333,102,340.6666666666667,102,365C102,389.3333333333333,90,413.6666666666667,90,438C90,462.3333333333333,102,486.6666666666667,102,511C102,535.3333333333334,90,559.6666666666666,90,584C90,608.3333333333334,102,632.6666666666666,102,657C102,681.3333333333334,90,705.6666666666666,90,730C90,754.3333333333334,102,778.6666666666666,102,803C102,827.3333333333334,90,851.6666666666666,90,876C90,900.3333333333334,102,924.6666666666666,102,949C102,973.3333333333334,90,997.6666666666666,90,1022C90,1046.3333333333333,102,1070.6666666666667,102,1095C102,1119.3333333333333,92,1155.8333333333333,90,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M118,-73C116,-60.833333333333336,106,-24.333333333333332,106,0C106,24.333333333333332,118,48.66666666666667,118,73C118,97.33333333333333,106,121.66666666666667,106,146C106,170.33333333333334,118,194.66666666666666,118,219C118,243.33333333333334,106,267.6666666666667,106,292C106,316.3333333333333,118,340.6666666666667,118,365C118,389.3333333333333,106,413.6666666666667,106,438C106,462.3333333333333,118,486.6666666666667,118,511C118,535.3333333333334,106,559.6666666666666,106,584C106,608.3333333333334,118,632.6666666666666,118,657C118,681.3333333333334,106,705.6666666666666,106,730C106,754.3333333333334,118,778.6666666666666,118,803C118,827.3333333333334,106,851.6666666666666,106,876C106,900.3333333333334,118,924.6666666666666,118,949C118,973.3333333333334,106,997.6666666666666,106,1022C106,1046.3333333333333,118,1070.6666666666667,118,1095C118,1119.3333333333333,108,1155.8333333333333,106,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M134,-73C132,-60.833333333333336,122,-24.333333333333332,122,0C122,24.333333333333332,134,48.66666666666667,134,73C134,97.33333333333333,122,121.66666666666667,122,146C122,170.33333333333334,134,194.66666666666666,134,219C134,243.33333333333334,122,267.6666666666667,122,292C122,316.3333333333333,134,340.6666666666667,134,365C134,389.3333333333333,122,413.6666666666667,122,438C122,462.3333333333333,134,486.6666666666667,134,511C134,535.3333333333334,122,559.6666666666666,122,584C122,608.3333333333334,134,632.6666666666666,134,657C134,681.3333333333334,122,705.6666666666666,122,730C122,754.3333333333334,134,778.6666666666666,134,803C134,827.3333333333334,122,851.6666666666666,122,876C122,900.3333333333334,134,924.6666666666666,134,949C134,973.3333333333334,122,997.6666666666666,122,1022C122,1046.3333333333333,134,1070.6666666666667,134,1095C134,1119.3333333333333,124,1155.8333333333333,122,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M150,-73C148,-60.833333333333336,138,-24.333333333333332,138,0C138,24.333333333333332,150,48.66666666666667,150,73C150,97.33333333333333,138,121.66666666666667,138,146C138,170.33333333333334,150,194.66666666666666,150,219C150,243.33333333333334,138,267.6666666666667,138,292C138,316.3333333333333,150,340.6666666666667,150,365C150,389.3333333333333,138,413.6666666666667,138,438C138,462.3333333333333,150,486.6666666666667,150,511C150,535.3333333333334,138,559.6666666666666,138,584C138,608.3333333333334,150,632.6666666666666,150,657C150,681.3333333333334,138,705.6666666666666,138,730C138,754.3333333333334,150,778.6666666666666,150,803C150,827.3333333333334,138,851.6666666666666,138,876C138,900.3333333333334,150,924.6666666666666,150,949C150,973.3333333333334,138,997.6666666666666,138,1022C138,1046.3333333333333,150,1070.6666666666667,150,1095C150,1119.3333333333333,140,1155.8333333333333,138,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M166,-73C164,-60.833333333333336,154,-24.333333333333332,154,0C154,24.333333333333332,166,48.66666666666667,166,73C166,97.33333333333333,154,121.66666666666667,154,146C154,170.33333333333334,166,194.66666666666666,166,219C166,243.33333333333334,154,267.6666666666667,154,292C154,316.3333333333333,166,340.6666666666667,166,365C166,389.3333333333333,154,413.6666666666667,154,438C154,462.3333333333333,166,486.6666666666667,166,511C166,535.3333333333334,154,559.6666666666666,154,584C154,608.3333333333334,166,632.6666666666666,166,657C166,681.3333333333334,154,705.6666666666666,154,730C154,754.3333333333334,166,778.6666666666666,166,803C166,827.3333333333334,154,851.6666666666666,154,876C154,900.3333333333334,166,924.6666666666666,166,949C166,973.3333333333334,154,997.6666666666666,154,1022C154,1046.3333333333333,166,1070.6666666666667,166,1095C166,1119.3333333333333,156,1155.8333333333333,154,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M182,-73C180,-60.833333333333336,170,-24.333333333333332,170,0C170,24.333333333333332,182,48.66666666666667,182,73C182,97.33333333333333,170,121.66666666666667,170,146C170,170.33333333333334,182,194.66666666666666,182,219C182,243.33333333333334,170,267.6666666666667,170,292C170,316.3333333333333,182,340.6666666666667,182,365C182,389.3333333333333,170,413.6666666666667,170,438C170,462.3333333333333,182,486.6666666666667,182,511C182,535.3333333333334,170,559.6666666666666,170,584C170,608.3333333333334,182,632.6666666666666,182,657C182,681.3333333333334,170,705.6666666666666,170,730C170,754.3333333333334,182,778.6666666666666,182,803C182,827.3333333333334,170,851.6666666666666,170,876C170,900.3333333333334,182,924.6666666666666,182,949C182,973.3333333333334,170,997.6666666666666,170,1022C170,1046.3333333333333,182,1070.6666666666667,182,1095C182,1119.3333333333333,172,1155.8333333333333,170,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M198,-73C196,-60.833333333333336,186,-24.333333333333332,186,0C186,24.333333333333332,198,48.66666666666667,198,73C198,97.33333333333333,186,121.66666666666667,186,146C186,170.33333333333334,198,194.66666666666666,198,219C198,243.33333333333334,186,267.6666666666667,186,292C186,316.3333333333333,198,340.6666666666667,198,365C198,389.3333333333333,186,413.6666666666667,186,438C186,462.3333333333333,198,486.6666666666667,198,511C198,535.3333333333334,186,559.6666666666666,186,584C186,608.3333333333334,198,632.6666666666666,198,657C198,681.3333333333334,186,705.6666666666666,186,730C186,754.3333333333334,198,778.6666666666666,198,803C198,827.3333333333334,186,851.6666666666666,186,876C186,900.3333333333334,198,924.6666666666666,198,949C198,973.3333333333334,186,997.6666666666666,186,1022C186,1046.3333333333333,198,1070.6666666666667,198,1095C198,1119.3333333333333,188,1155.8333333333333,186,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M214,-73C212,-60.833333333333336,202,-24.333333333333332,202,0C202,24.333333333333332,214,48.66666666666667,214,73C214,97.33333333333333,202,121.66666666666667,202,146C202,170.33333333333334,214,194.66666666666666,214,219C214,243.33333333333334,202,267.6666666666667,202,292C202,316.3333333333333,214,340.6666666666667,214,365C214,389.3333333333333,202,413.6666666666667,202,438C202,462.3333333333333,214,486.6666666666667,214,511C214,535.3333333333334,202,559.6666666666666,202,584C202,608.3333333333334,214,632.6666666666666,214,657C214,681.3333333333334,202,705.6666666666666,202,730C202,754.3333333333334,214,778.6666666666666,214,803C214,827.3333333333334,202,851.6666666666666,202,876C202,900.3333333333334,214,924.6666666666666,214,949C214,973.3333333333334,202,997.6666666666666,202,1022C202,1046.3333333333333,214,1070.6666666666667,214,1095C214,1119.3333333333333,204,1155.8333333333333,202,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M230,-73C228,-60.833333333333336,218,-24.333333333333332,218,0C218,24.333333333333332,230,48.66666666666667,230,73C230,97.33333333333333,218,121.66666666666667,218,146C218,170.33333333333334,230,194.66666666666666,230,219C230,243.33333333333334,218,267.6666666666667,218,292C218,316.3333333333333,230,340.6666666666667,230,365C230,389.3333333333333,218,413.6666666666667,218,438C218,462.3333333333333,230,486.6666666666667,230,511C230,535.3333333333334,218,559.6666666666666,218,584C218,608.3333333333334,230,632.6666666666666,230,657C230,681.3333333333334,218,705.6666666666666,218,730C218,754.3333333333334,230,778.6666666666666,230,803C230,827.3333333333334,218,851.6666666666666,218,876C218,900.3333333333334,230,924.6666666666666,230,949C230,973.3333333333334,218,997.6666666666666,218,1022C218,1046.3333333333333,230,1070.6666666666667,230,1095C230,1119.3333333333333,220,1155.8333333333333,218,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M246,-73C244,-60.833333333333336,234,-24.333333333333332,234,0C234,24.333333333333332,246,48.66666666666667,246,73C246,97.33333333333333,234,121.66666666666667,234,146C234,170.33333333333334,246,194.66666666666666,246,219C246,243.33333333333334,234,267.6666666666667,234,292C234,316.3333333333333,246,340.6666666666667,246,365C246,389.3333333333333,234,413.6666666666667,234,438C234,462.3333333333333,246,486.6666666666667,246,511C246,535.3333333333334,234,559.6666666666666,234,584C234,608.3333333333334,246,632.6666666666666,246,657C246,681.3333333333334,234,705.6666666666666,234,730C234,754.3333333333334,246,778.6666666666666,246,803C246,827.3333333333334,234,851.6666666666666,234,876C234,900.3333333333334,246,924.6666666666666,246,949C246,973.3333333333334,234,997.6666666666666,234,1022C234,1046.3333333333333,246,1070.6666666666667,246,1095C246,1119.3333333333333,236,1155.8333333333333,234,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M262,-73C260,-60.833333333333336,250,-24.333333333333332,250,0C250,24.333333333333332,262,48.66666666666667,262,73C262,97.33333333333333,250,121.66666666666667,250,146C250,170.33333333333334,262,194.66666666666666,262,219C262,243.33333333333334,250,267.6666666666667,250,292C250,316.3333333333333,262,340.6666666666667,262,365C262,389.3333333333333,250,413.6666666666667,250,438C250,462.3333333333333,262,486.6666666666667,262,511C262,535.3333333333334,250,559.6666666666666,250,584C250,608.3333333333334,262,632.6666666666666,262,657C262,681.3333333333334,250,705.6666666666666,250,730C250,754.3333333333334,262,778.6666666666666,262,803C262,827.3333333333334,250,851.6666666666666,250,876C250,900.3333333333334,262,924.6666666666666,262,949C262,973.3333333333334,250,997.6666666666666,250,1022C250,1046.3333333333333,262,1070.6666666666667,262,1095C262,1119.3333333333333,252,1155.8333333333333,250,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M278,-73C276,-60.833333333333336,266,-24.333333333333332,266,0C266,24.333333333333332,278,48.66666666666667,278,73C278,97.33333333333333,266,121.66666666666667,266,146C266,170.33333333333334,278,194.66666666666666,278,219C278,243.33333333333334,266,267.6666666666667,266,292C266,316.3333333333333,278,340.6666666666667,278,365C278,389.3333333333333,266,413.6666666666667,266,438C266,462.3333333333333,278,486.6666666666667,278,511C278,535.3333333333334,266,559.6666666666666,266,584C266,608.3333333333334,278,632.6666666666666,278,657C278,681.3333333333334,266,705.6666666666666,266,730C266,754.3333333333334,278,778.6666666666666,278,803C278,827.3333333333334,266,851.6666666666666,266,876C266,900.3333333333334,278,924.6666666666666,278,949C278,973.3333333333334,266,997.6666666666666,266,1022C266,1046.3333333333333,278,1070.6666666666667,278,1095C278,1119.3333333333333,268,1155.8333333333333,266,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M294,-73C292,-60.833333333333336,282,-24.333333333333332,282,0C282,24.333333333333332,294,48.66666666666667,294,73C294,97.33333333333333,282,121.66666666666667,282,146C282,170.33333333333334,294,194.66666666666666,294,219C294,243.33333333333334,282,267.6666666666667,282,292C282,316.3333333333333,294,340.6666666666667,294,365C294,389.3333333333333,282,413.6666666666667,282,438C282,462.3333333333333,294,486.6666666666667,294,511C294,535.3333333333334,282,559.6666666666666,282,584C282,608.3333333333334,294,632.6666666666666,294,657C294,681.3333333333334,282,705.6666666666666,282,730C282,754.3333333333334,294,778.6666666666666,294,803C294,827.3333333333334,282,851.6666666666666,282,876C282,900.3333333333334,294,924.6666666666666,294,949C294,973.3333333333334,282,997.6666666666666,282,1022C282,1046.3333333333333,294,1070.6666666666667,294,1095C294,1119.3333333333333,284,1155.8333333333333,282,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M310,-73C308,-60.833333333333336,298,-24.333333333333332,298,0C298,24.333333333333332,310,48.66666666666667,310,73C310,97.33333333333333,298,121.66666666666667,298,146C298,170.33333333333334,310,194.66666666666666,310,219C310,243.33333333333334,298,267.6666666666667,298,292C298,316.3333333333333,310,340.6666666666667,310,365C310,389.3333333333333,298,413.6666666666667,298,438C298,462.3333333333333,310,486.6666666666667,310,511C310,535.3333333333334,298,559.6666666666666,298,584C298,608.3333333333334,310,632.6666666666666,310,657C310,681.3333333333334,298,705.6666666666666,298,730C298,754.3333333333334,310,778.6666666666666,310,803C310,827.3333333333334,298,851.6666666666666,298,876C298,900.3333333333334,310,924.6666666666666,310,949C310,973.3333333333334,298,997.6666666666666,298,1022C298,1046.3333333333333,310,1070.6666666666667,310,1095C310,1119.3333333333333,300,1155.8333333333333,298,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M326,-73C324,-60.833333333333336,314,-24.333333333333332,314,0C314,24.333333333333332,326,48.66666666666667,326,73C326,97.33333333333333,314,121.66666666666667,314,146C314,170.33333333333334,326,194.66666666666666,326,219C326,243.33333333333334,314,267.6666666666667,314,292C314,316.3333333333333,326,340.6666666666667,326,365C326,389.3333333333333,314,413.6666666666667,314,438C314,462.3333333333333,326,486.6666666666667,326,511C326,535.3333333333334,314,559.6666666666666,314,584C314,608.3333333333334,326,632.6666666666666,326,657C326,681.3333333333334,314,705.6666666666666,314,730C314,754.3333333333334,326,778.6666666666666,326,803C326,827.3333333333334,314,851.6666666666666,314,876C314,900.3333333333334,326,924.6666666666666,326,949C326,973.3333333333334,314,997.6666666666666,314,1022C314,1046.3333333333333,326,1070.6666666666667,326,1095C326,1119.3333333333333,316,1155.8333333333333,314,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M342,-73C340,-60.833333333333336,330,-24.333333333333332,330,0C330,24.333333333333332,342,48.66666666666667,342,73C342,97.33333333333333,330,121.66666666666667,330,146C330,170.33333333333334,342,194.66666666666666,342,219C342,243.33333333333334,330,267.6666666666667,330,292C330,316.3333333333333,342,340.6666666666667,342,365C342,389.3333333333333,330,413.6666666666667,330,438C330,462.3333333333333,342,486.6666666666667,342,511C342,535.3333333333334,330,559.6666666666666,330,584C330,608.3333333333334,342,632.6666666666666,342,657C342,681.3333333333334,330,705.6666666666666,330,730C330,754.3333333333334,342,778.6666666666666,342,803C342,827.3333333333334,330,851.6666666666666,330,876C330,900.3333333333334,342,924.6666666666666,342,949C342,973.3333333333334,330,997.6666666666666,330,1022C330,1046.3333333333333,342,1070.6666666666667,342,1095C342,1119.3333333333333,332,1155.8333333333333,330,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M358,-73C356,-60.833333333333336,346,-24.333333333333332,346,0C346,24.333333333333332,358,48.66666666666667,358,73C358,97.33333333333333,346,121.66666666666667,346,146C346,170.33333333333334,358,194.66666666666666,358,219C358,243.33333333333334,346,267.6666666666667,346,292C346,316.3333333333333,358,340.6666666666667,358,365C358,389.3333333333333,346,413.6666666666667,346,438C346,462.3333333333333,358,486.6666666666667,358,511C358,535.3333333333334,346,559.6666666666666,346,584C346,608.3333333333334,358,632.6666666666666,358,657C358,681.3333333333334,346,705.6666666666666,346,730C346,754.3333333333334,358,778.6666666666666,358,803C358,827.3333333333334,346,851.6666666666666,346,876C346,900.3333333333334,358,924.6666666666666,358,949C358,973.3333333333334,346,997.6666666666666,346,1022C346,1046.3333333333333,358,1070.6666666666667,358,1095C358,1119.3333333333333,348,1155.8333333333333,346,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M374,-73C372,-60.833333333333336,362,-24.333333333333332,362,0C362,24.333333333333332,374,48.66666666666667,374,73C374,97.33333333333333,362,121.66666666666667,362,146C362,170.33333333333334,374,194.66666666666666,374,219C374,243.33333333333334,362,267.6666666666667,362,292C362,316.3333333333333,374,340.6666666666667,374,365C374,389.3333333333333,362,413.6666666666667,362,438C362,462.3333333333333,374,486.6666666666667,374,511C374,535.3333333333334,362,559.6666666666666,362,584C362,608.3333333333334,374,632.6666666666666,374,657C374,681.3333333333334,362,705.6666666666666,362,730C362,754.3333333333334,374,778.6666666666666,374,803C374,827.3333333333334,362,851.6666666666666,362,876C362,900.3333333333334,374,924.6666666666666,374,949C374,973.3333333333334,362,997.6666666666666,362,1022C362,1046.3333333333333,374,1070.6666666666667,374,1095C374,1119.3333333333333,364,1155.8333333333333,362,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M390,-73C388,-60.833333333333336,378,-24.333333333333332,378,0C378,24.333333333333332,390,48.66666666666667,390,73C390,97.33333333333333,378,121.66666666666667,378,146C378,170.33333333333334,390,194.66666666666666,390,219C390,243.33333333333334,378,267.6666666666667,378,292C378,316.3333333333333,390,340.6666666666667,390,365C390,389.3333333333333,378,413.6666666666667,378,438C378,462.3333333333333,390,486.6666666666667,390,511C390,535.3333333333334,378,559.6666666666666,378,584C378,608.3333333333334,390,632.6666666666666,390,657C390,681.3333333333334,378,705.6666666666666,378,730C378,754.3333333333334,390,778.6666666666666,390,803C390,827.3333333333334,378,851.6666666666666,378,876C378,900.3333333333334,390,924.6666666666666,390,949C390,973.3333333333334,378,997.6666666666666,378,1022C378,1046.3333333333333,390,1070.6666666666667,390,1095C390,1119.3333333333333,380,1155.8333333333333,378,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M406,-73C404,-60.833333333333336,394,-24.333333333333332,394,0C394,24.333333333333332,406,48.66666666666667,406,73C406,97.33333333333333,394,121.66666666666667,394,146C394,170.33333333333334,406,194.66666666666666,406,219C406,243.33333333333334,394,267.6666666666667,394,292C394,316.3333333333333,406,340.6666666666667,406,365C406,389.3333333333333,394,413.6666666666667,394,438C394,462.3333333333333,406,486.6666666666667,406,511C406,535.3333333333334,394,559.6666666666666,394,584C394,608.3333333333334,406,632.6666666666666,406,657C406,681.3333333333334,394,705.6666666666666,394,730C394,754.3333333333334,406,778.6666666666666,406,803C406,827.3333333333334,394,851.6666666666666,394,876C394,900.3333333333334,406,924.6666666666666,406,949C406,973.3333333333334,394,997.6666666666666,394,1022C394,1046.3333333333333,406,1070.6666666666667,406,1095C406,1119.3333333333333,396,1155.8333333333333,394,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M422,-73C420,-60.833333333333336,410,-24.333333333333332,410,0C410,24.333333333333332,422,48.66666666666667,422,73C422,97.33333333333333,410,121.66666666666667,410,146C410,170.33333333333334,422,194.66666666666666,422,219C422,243.33333333333334,410,267.6666666666667,410,292C410,316.3333333333333,422,340.6666666666667,422,365C422,389.3333333333333,410,413.6666666666667,410,438C410,462.3333333333333,422,486.6666666666667,422,511C422,535.3333333333334,410,559.6666666666666,410,584C410,608.3333333333334,422,632.6666666666666,422,657C422,681.3333333333334,410,705.6666666666666,410,730C410,754.3333333333334,422,778.6666666666666,422,803C422,827.3333333333334,410,851.6666666666666,410,876C410,900.3333333333334,422,924.6666666666666,422,949C422,973.3333333333334,410,997.6666666666666,410,1022C410,1046.3333333333333,422,1070.6666666666667,422,1095C422,1119.3333333333333,412,1155.8333333333333,410,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M438,-73C436,-60.833333333333336,426,-24.333333333333332,426,0C426,24.333333333333332,438,48.66666666666667,438,73C438,97.33333333333333,426,121.66666666666667,426,146C426,170.33333333333334,438,194.66666666666666,438,219C438,243.33333333333334,426,267.6666666666667,426,292C426,316.3333333333333,438,340.6666666666667,438,365C438,389.3333333333333,426,413.6666666666667,426,438C426,462.3333333333333,438,486.6666666666667,438,511C438,535.3333333333334,426,559.6666666666666,426,584C426,608.3333333333334,438,632.6666666666666,438,657C438,681.3333333333334,426,705.6666666666666,426,730C426,754.3333333333334,438,778.6666666666666,438,803C438,827.3333333333334,426,851.6666666666666,426,876C426,900.3333333333334,438,924.6666666666666,438,949C438,973.3333333333334,426,997.6666666666666,426,1022C426,1046.3333333333333,438,1070.6666666666667,438,1095C438,1119.3333333333333,428,1155.8333333333333,426,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M454,-73C452,-60.833333333333336,442,-24.333333333333332,442,0C442,24.333333333333332,454,48.66666666666667,454,73C454,97.33333333333333,442,121.66666666666667,442,146C442,170.33333333333334,454,194.66666666666666,454,219C454,243.33333333333334,442,267.6666666666667,442,292C442,316.3333333333333,454,340.6666666666667,454,365C454,389.3333333333333,442,413.6666666666667,442,438C442,462.3333333333333,454,486.6666666666667,454,511C454,535.3333333333334,442,559.6666666666666,442,584C442,608.3333333333334,454,632.6666666666666,454,657C454,681.3333333333334,442,705.6666666666666,442,730C442,754.3333333333334,454,778.6666666666666,454,803C454,827.3333333333334,442,851.6666666666666,442,876C442,900.3333333333334,454,924.6666666666666,454,949C454,973.3333333333334,442,997.6666666666666,442,1022C442,1046.3333333333333,454,1070.6666666666667,454,1095C454,1119.3333333333333,444,1155.8333333333333,442,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M470,-73C468,-60.833333333333336,458,-24.333333333333332,458,0C458,24.333333333333332,470,48.66666666666667,470,73C470,97.33333333333333,458,121.66666666666667,458,146C458,170.33333333333334,470,194.66666666666666,470,219C470,243.33333333333334,458,267.6666666666667,458,292C458,316.3333333333333,470,340.6666666666667,470,365C470,389.3333333333333,458,413.6666666666667,458,438C458,462.3333333333333,470,486.6666666666667,470,511C470,535.3333333333334,458,559.6666666666666,458,584C458,608.3333333333334,470,632.6666666666666,470,657C470,681.3333333333334,458,705.6666666666666,458,730C458,754.3333333333334,470,778.6666666666666,470,803C470,827.3333333333334,458,851.6666666666666,458,876C458,900.3333333333334,470,924.6666666666666,470,949C470,973.3333333333334,458,997.6666666666666,458,1022C458,1046.3333333333333,470,1070.6666666666667,470,1095C470,1119.3333333333333,460,1155.8333333333333,458,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M486,-73C484,-60.833333333333336,474,-24.333333333333332,474,0C474,24.333333333333332,486,48.66666666666667,486,73C486,97.33333333333333,474,121.66666666666667,474,146C474,170.33333333333334,486,194.66666666666666,486,219C486,243.33333333333334,474,267.6666666666667,474,292C474,316.3333333333333,486,340.6666666666667,486,365C486,389.3333333333333,474,413.6666666666667,474,438C474,462.3333333333333,486,486.6666666666667,486,511C486,535.3333333333334,474,559.6666666666666,474,584C474,608.3333333333334,486,632.6666666666666,486,657C486,681.3333333333334,474,705.6666666666666,474,730C474,754.3333333333334,486,778.6666666666666,486,803C486,827.3333333333334,474,851.6666666666666,474,876C474,900.3333333333334,486,924.6666666666666,486,949C486,973.3333333333334,474,997.6666666666666,474,1022C474,1046.3333333333333,486,1070.6666666666667,486,1095C486,1119.3333333333333,476,1155.8333333333333,474,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M502,-73C500,-60.833333333333336,490,-24.333333333333332,490,0C490,24.333333333333332,502,48.66666666666667,502,73C502,97.33333333333333,490,121.66666666666667,490,146C490,170.33333333333334,502,194.66666666666666,502,219C502,243.33333333333334,490,267.6666666666667,490,292C490,316.3333333333333,502,340.6666666666667,502,365C502,389.3333333333333,490,413.6666666666667,490,438C490,462.3333333333333,502,486.6666666666667,502,511C502,535.3333333333334,490,559.6666666666666,490,584C490,608.3333333333334,502,632.6666666666666,502,657C502,681.3333333333334,490,705.6666666666666,490,730C490,754.3333333333334,502,778.6666666666666,502,803C502,827.3333333333334,490,851.6666666666666,490,876C490,900.3333333333334,502,924.6666666666666,502,949C502,973.3333333333334,490,997.6666666666666,490,1022C490,1046.3333333333333,502,1070.6666666666667,502,1095C502,1119.3333333333333,492,1155.8333333333333,490,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M518,-73C516,-60.833333333333336,506,-24.333333333333332,506,0C506,24.333333333333332,518,48.66666666666667,518,73C518,97.33333333333333,506,121.66666666666667,506,146C506,170.33333333333334,518,194.66666666666666,518,219C518,243.33333333333334,506,267.6666666666667,506,292C506,316.3333333333333,518,340.6666666666667,518,365C518,389.3333333333333,506,413.6666666666667,506,438C506,462.3333333333333,518,486.6666666666667,518,511C518,535.3333333333334,506,559.6666666666666,506,584C506,608.3333333333334,518,632.6666666666666,518,657C518,681.3333333333334,506,705.6666666666666,506,730C506,754.3333333333334,518,778.6666666666666,518,803C518,827.3333333333334,506,851.6666666666666,506,876C506,900.3333333333334,518,924.6666666666666,518,949C518,973.3333333333334,506,997.6666666666666,506,1022C506,1046.3333333333333,518,1070.6666666666667,518,1095C518,1119.3333333333333,508,1155.8333333333333,506,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M534,-73C532,-60.833333333333336,522,-24.333333333333332,522,0C522,24.333333333333332,534,48.66666666666667,534,73C534,97.33333333333333,522,121.66666666666667,522,146C522,170.33333333333334,534,194.66666666666666,534,219C534,243.33333333333334,522,267.6666666666667,522,292C522,316.3333333333333,534,340.6666666666667,534,365C534,389.3333333333333,522,413.6666666666667,522,438C522,462.3333333333333,534,486.6666666666667,534,511C534,535.3333333333334,522,559.6666666666666,522,584C522,608.3333333333334,534,632.6666666666666,534,657C534,681.3333333333334,522,705.6666666666666,522,730C522,754.3333333333334,534,778.6666666666666,534,803C534,827.3333333333334,522,851.6666666666666,522,876C522,900.3333333333334,534,924.6666666666666,534,949C534,973.3333333333334,522,997.6666666666666,522,1022C522,1046.3333333333333,534,1070.6666666666667,534,1095C534,1119.3333333333333,524,1155.8333333333333,522,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M550,-73C548,-60.833333333333336,538,-24.333333333333332,538,0C538,24.333333333333332,550,48.66666666666667,550,73C550,97.33333333333333,538,121.66666666666667,538,146C538,170.33333333333334,550,194.66666666666666,550,219C550,243.33333333333334,538,267.6666666666667,538,292C538,316.3333333333333,550,340.6666666666667,550,365C550,389.3333333333333,538,413.6666666666667,538,438C538,462.3333333333333,550,486.6666666666667,550,511C550,535.3333333333334,538,559.6666666666666,538,584C538,608.3333333333334,550,632.6666666666666,550,657C550,681.3333333333334,538,705.6666666666666,538,730C538,754.3333333333334,550,778.6666666666666,550,803C550,827.3333333333334,538,851.6666666666666,538,876C538,900.3333333333334,550,924.6666666666666,550,949C550,973.3333333333334,538,997.6666666666666,538,1022C538,1046.3333333333333,550,1070.6666666666667,550,1095C550,1119.3333333333333,540,1155.8333333333333,538,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M566,-73C564,-60.833333333333336,554,-24.333333333333332,554,0C554,24.333333333333332,566,48.66666666666667,566,73C566,97.33333333333333,554,121.66666666666667,554,146C554,170.33333333333334,566,194.66666666666666,566,219C566,243.33333333333334,554,267.6666666666667,554,292C554,316.3333333333333,566,340.6666666666667,566,365C566,389.3333333333333,554,413.6666666666667,554,438C554,462.3333333333333,566,486.6666666666667,566,511C566,535.3333333333334,554,559.6666666666666,554,584C554,608.3333333333334,566,632.6666666666666,566,657C566,681.3333333333334,554,705.6666666666666,554,730C554,754.3333333333334,566,778.6666666666666,566,803C566,827.3333333333334,554,851.6666666666666,554,876C554,900.3333333333334,566,924.6666666666666,566,949C566,973.3333333333334,554,997.6666666666666,554,1022C554,1046.3333333333333,566,1070.6666666666667,566,1095C566,1119.3333333333333,556,1155.8333333333333,554,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M582,-73C580,-60.833333333333336,570,-24.333333333333332,570,0C570,24.333333333333332,582,48.66666666666667,582,73C582,97.33333333333333,570,121.66666666666667,570,146C570,170.33333333333334,582,194.66666666666666,582,219C582,243.33333333333334,570,267.6666666666667,570,292C570,316.3333333333333,582,340.6666666666667,582,365C582,389.3333333333333,570,413.6666666666667,570,438C570,462.3333333333333,582,486.6666666666667,582,511C582,535.3333333333334,570,559.6666666666666,570,584C570,608.3333333333334,582,632.6666666666666,582,657C582,681.3333333333334,570,705.6666666666666,570,730C570,754.3333333333334,582,778.6666666666666,582,803C582,827.3333333333334,570,851.6666666666666,570,876C570,900.3333333333334,582,924.6666666666666,582,949C582,973.3333333333334,570,997.6666666666666,570,1022C570,1046.3333333333333,582,1070.6666666666667,582,1095C582,1119.3333333333333,572,1155.8333333333333,570,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M598,-73C596,-60.833333333333336,586,-24.333333333333332,586,0C586,24.333333333333332,598,48.66666666666667,598,73C598,97.33333333333333,586,121.66666666666667,586,146C586,170.33333333333334,598,194.66666666666666,598,219C598,243.33333333333334,586,267.6666666666667,586,292C586,316.3333333333333,598,340.6666666666667,598,365C598,389.3333333333333,586,413.6666666666667,586,438C586,462.3333333333333,598,486.6666666666667,598,511C598,535.3333333333334,586,559.6666666666666,586,584C586,608.3333333333334,598,632.6666666666666,598,657C598,681.3333333333334,586,705.6666666666666,586,730C586,754.3333333333334,598,778.6666666666666,598,803C598,827.3333333333334,586,851.6666666666666,586,876C586,900.3333333333334,598,924.6666666666666,598,949C598,973.3333333333334,586,997.6666666666666,586,1022C586,1046.3333333333333,598,1070.6666666666667,598,1095C598,1119.3333333333333,588,1155.8333333333333,586,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M614,-73C612,-60.833333333333336,602,-24.333333333333332,602,0C602,24.333333333333332,614,48.66666666666667,614,73C614,97.33333333333333,602,121.66666666666667,602,146C602,170.33333333333334,614,194.66666666666666,614,219C614,243.33333333333334,602,267.6666666666667,602,292C602,316.3333333333333,614,340.6666666666667,614,365C614,389.3333333333333,602,413.6666666666667,602,438C602,462.3333333333333,614,486.6666666666667,614,511C614,535.3333333333334,602,559.6666666666666,602,584C602,608.3333333333334,614,632.6666666666666,614,657C614,681.3333333333334,602,705.6666666666666,602,730C602,754.3333333333334,614,778.6666666666666,614,803C614,827.3333333333334,602,851.6666666666666,602,876C602,900.3333333333334,614,924.6666666666666,614,949C614,973.3333333333334,602,997.6666666666666,602,1022C602,1046.3333333333333,614,1070.6666666666667,614,1095C614,1119.3333333333333,604,1155.8333333333333,602,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M630,-73C628,-60.833333333333336,618,-24.333333333333332,618,0C618,24.333333333333332,630,48.66666666666667,630,73C630,97.33333333333333,618,121.66666666666667,618,146C618,170.33333333333334,630,194.66666666666666,630,219C630,243.33333333333334,618,267.6666666666667,618,292C618,316.3333333333333,630,340.6666666666667,630,365C630,389.3333333333333,618,413.6666666666667,618,438C618,462.3333333333333,630,486.6666666666667,630,511C630,535.3333333333334,618,559.6666666666666,618,584C618,608.3333333333334,630,632.6666666666666,630,657C630,681.3333333333334,618,705.6666666666666,618,730C618,754.3333333333334,630,778.6666666666666,630,803C630,827.3333333333334,618,851.6666666666666,618,876C618,900.3333333333334,630,924.6666666666666,630,949C630,973.3333333333334,618,997.6666666666666,618,1022C618,1046.3333333333333,630,1070.6666666666667,630,1095C630,1119.3333333333333,620,1155.8333333333333,618,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M646,-73C644,-60.833333333333336,634,-24.333333333333332,634,0C634,24.333333333333332,646,48.66666666666667,646,73C646,97.33333333333333,634,121.66666666666667,634,146C634,170.33333333333334,646,194.66666666666666,646,219C646,243.33333333333334,634,267.6666666666667,634,292C634,316.3333333333333,646,340.6666666666667,646,365C646,389.3333333333333,634,413.6666666666667,634,438C634,462.3333333333333,646,486.6666666666667,646,511C646,535.3333333333334,634,559.6666666666666,634,584C634,608.3333333333334,646,632.6666666666666,646,657C646,681.3333333333334,634,705.6666666666666,634,730C634,754.3333333333334,646,778.6666666666666,646,803C646,827.3333333333334,634,851.6666666666666,634,876C634,900.3333333333334,646,924.6666666666666,646,949C646,973.3333333333334,634,997.6666666666666,634,1022C634,1046.3333333333333,646,1070.6666666666667,646,1095C646,1119.3333333333333,636,1155.8333333333333,634,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M662,-73C660,-60.833333333333336,650,-24.333333333333332,650,0C650,24.333333333333332,662,48.66666666666667,662,73C662,97.33333333333333,650,121.66666666666667,650,146C650,170.33333333333334,662,194.66666666666666,662,219C662,243.33333333333334,650,267.6666666666667,650,292C650,316.3333333333333,662,340.6666666666667,662,365C662,389.3333333333333,650,413.6666666666667,650,438C650,462.3333333333333,662,486.6666666666667,662,511C662,535.3333333333334,650,559.6666666666666,650,584C650,608.3333333333334,662,632.6666666666666,662,657C662,681.3333333333334,650,705.6666666666666,650,730C650,754.3333333333334,662,778.6666666666666,662,803C662,827.3333333333334,650,851.6666666666666,650,876C650,900.3333333333334,662,924.6666666666666,662,949C662,973.3333333333334,650,997.6666666666666,650,1022C650,1046.3333333333333,662,1070.6666666666667,662,1095C662,1119.3333333333333,652,1155.8333333333333,650,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M678,-73C676,-60.833333333333336,666,-24.333333333333332,666,0C666,24.333333333333332,678,48.66666666666667,678,73C678,97.33333333333333,666,121.66666666666667,666,146C666,170.33333333333334,678,194.66666666666666,678,219C678,243.33333333333334,666,267.6666666666667,666,292C666,316.3333333333333,678,340.6666666666667,678,365C678,389.3333333333333,666,413.6666666666667,666,438C666,462.3333333333333,678,486.6666666666667,678,511C678,535.3333333333334,666,559.6666666666666,666,584C666,608.3333333333334,678,632.6666666666666,678,657C678,681.3333333333334,666,705.6666666666666,666,730C666,754.3333333333334,678,778.6666666666666,678,803C678,827.3333333333334,666,851.6666666666666,666,876C666,900.3333333333334,678,924.6666666666666,678,949C678,973.3333333333334,666,997.6666666666666,666,1022C666,1046.3333333333333,678,1070.6666666666667,678,1095C678,1119.3333333333333,668,1155.8333333333333,666,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M694,-73C692,-60.833333333333336,682,-24.333333333333332,682,0C682,24.333333333333332,694,48.66666666666667,694,73C694,97.33333333333333,682,121.66666666666667,682,146C682,170.33333333333334,694,194.66666666666666,694,219C694,243.33333333333334,682,267.6666666666667,682,292C682,316.3333333333333,694,340.6666666666667,694,365C694,389.3333333333333,682,413.6666666666667,682,438C682,462.3333333333333,694,486.6666666666667,694,511C694,535.3333333333334,682,559.6666666666666,682,584C682,608.3333333333334,694,632.6666666666666,694,657C694,681.3333333333334,682,705.6666666666666,682,730C682,754.3333333333334,694,778.6666666666666,694,803C694,827.3333333333334,682,851.6666666666666,682,876C682,900.3333333333334,694,924.6666666666666,694,949C694,973.3333333333334,682,997.6666666666666,682,1022C682,1046.3333333333333,694,1070.6666666666667,694,1095C694,1119.3333333333333,684,1155.8333333333333,682,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M710,-73C708,-60.833333333333336,698,-24.333333333333332,698,0C698,24.333333333333332,710,48.66666666666667,710,73C710,97.33333333333333,698,121.66666666666667,698,146C698,170.33333333333334,710,194.66666666666666,710,219C710,243.33333333333334,698,267.6666666666667,698,292C698,316.3333333333333,710,340.6666666666667,710,365C710,389.3333333333333,698,413.6666666666667,698,438C698,462.3333333333333,710,486.6666666666667,710,511C710,535.3333333333334,698,559.6666666666666,698,584C698,608.3333333333334,710,632.6666666666666,710,657C710,681.3333333333334,698,705.6666666666666,698,730C698,754.3333333333334,710,778.6666666666666,710,803C710,827.3333333333334,698,851.6666666666666,698,876C698,900.3333333333334,710,924.6666666666666,710,949C710,973.3333333333334,698,997.6666666666666,698,1022C698,1046.3333333333333,710,1070.6666666666667,710,1095C710,1119.3333333333333,700,1155.8333333333333,698,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M726,-73C724,-60.833333333333336,714,-24.333333333333332,714,0C714,24.333333333333332,726,48.66666666666667,726,73C726,97.33333333333333,714,121.66666666666667,714,146C714,170.33333333333334,726,194.66666666666666,726,219C726,243.33333333333334,714,267.6666666666667,714,292C714,316.3333333333333,726,340.6666666666667,726,365C726,389.3333333333333,714,413.6666666666667,714,438C714,462.3333333333333,726,486.6666666666667,726,511C726,535.3333333333334,714,559.6666666666666,714,584C714,608.3333333333334,726,632.6666666666666,726,657C726,681.3333333333334,714,705.6666666666666,714,730C714,754.3333333333334,726,778.6666666666666,726,803C726,827.3333333333334,714,851.6666666666666,714,876C714,900.3333333333334,726,924.6666666666666,726,949C726,973.3333333333334,714,997.6666666666666,714,1022C714,1046.3333333333333,726,1070.6666666666667,726,1095C726,1119.3333333333333,716,1155.8333333333333,714,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M742,-73C740,-60.833333333333336,730,-24.333333333333332,730,0C730,24.333333333333332,742,48.66666666666667,742,73C742,97.33333333333333,730,121.66666666666667,730,146C730,170.33333333333334,742,194.66666666666666,742,219C742,243.33333333333334,730,267.6666666666667,730,292C730,316.3333333333333,742,340.6666666666667,742,365C742,389.3333333333333,730,413.6666666666667,730,438C730,462.3333333333333,742,486.6666666666667,742,511C742,535.3333333333334,730,559.6666666666666,730,584C730,608.3333333333334,742,632.6666666666666,742,657C742,681.3333333333334,730,705.6666666666666,730,730C730,754.3333333333334,742,778.6666666666666,742,803C742,827.3333333333334,730,851.6666666666666,730,876C730,900.3333333333334,742,924.6666666666666,742,949C742,973.3333333333334,730,997.6666666666666,730,1022C730,1046.3333333333333,742,1070.6666666666667,742,1095C742,1119.3333333333333,732,1155.8333333333333,730,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M758,-73C756,-60.833333333333336,746,-24.333333333333332,746,0C746,24.333333333333332,758,48.66666666666667,758,73C758,97.33333333333333,746,121.66666666666667,746,146C746,170.33333333333334,758,194.66666666666666,758,219C758,243.33333333333334,746,267.6666666666667,746,292C746,316.3333333333333,758,340.6666666666667,758,365C758,389.3333333333333,746,413.6666666666667,746,438C746,462.3333333333333,758,486.6666666666667,758,511C758,535.3333333333334,746,559.6666666666666,746,584C746,608.3333333333334,758,632.6666666666666,758,657C758,681.3333333333334,746,705.6666666666666,746,730C746,754.3333333333334,758,778.6666666666666,758,803C758,827.3333333333334,746,851.6666666666666,746,876C746,900.3333333333334,758,924.6666666666666,758,949C758,973.3333333333334,746,997.6666666666666,746,1022C746,1046.3333333333333,758,1070.6666666666667,758,1095C758,1119.3333333333333,748,1155.8333333333333,746,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M774,-73C772,-60.833333333333336,762,-24.333333333333332,762,0C762,24.333333333333332,774,48.66666666666667,774,73C774,97.33333333333333,762,121.66666666666667,762,146C762,170.33333333333334,774,194.66666666666666,774,219C774,243.33333333333334,762,267.6666666666667,762,292C762,316.3333333333333,774,340.6666666666667,774,365C774,389.3333333333333,762,413.6666666666667,762,438C762,462.3333333333333,774,486.6666666666667,774,511C774,535.3333333333334,762,559.6666666666666,762,584C762,608.3333333333334,774,632.6666666666666,774,657C774,681.3333333333334,762,705.6666666666666,762,730C762,754.3333333333334,774,778.6666666666666,774,803C774,827.3333333333334,762,851.6666666666666,762,876C762,900.3333333333334,774,924.6666666666666,774,949C774,973.3333333333334,762,997.6666666666666,762,1022C762,1046.3333333333333,774,1070.6666666666667,774,1095C774,1119.3333333333333,764,1155.8333333333333,762,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M790,-73C788,-60.833333333333336,778,-24.333333333333332,778,0C778,24.333333333333332,790,48.66666666666667,790,73C790,97.33333333333333,778,121.66666666666667,778,146C778,170.33333333333334,790,194.66666666666666,790,219C790,243.33333333333334,778,267.6666666666667,778,292C778,316.3333333333333,790,340.6666666666667,790,365C790,389.3333333333333,778,413.6666666666667,778,438C778,462.3333333333333,790,486.6666666666667,790,511C790,535.3333333333334,778,559.6666666666666,778,584C778,608.3333333333334,790,632.6666666666666,790,657C790,681.3333333333334,778,705.6666666666666,778,730C778,754.3333333333334,790,778.6666666666666,790,803C790,827.3333333333334,778,851.6666666666666,778,876C778,900.3333333333334,790,924.6666666666666,790,949C790,973.3333333333334,778,997.6666666666666,778,1022C778,1046.3333333333333,790,1070.6666666666667,790,1095C790,1119.3333333333333,780,1155.8333333333333,778,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M806,-73C804,-60.833333333333336,794,-24.333333333333332,794,0C794,24.333333333333332,806,48.66666666666667,806,73C806,97.33333333333333,794,121.66666666666667,794,146C794,170.33333333333334,806,194.66666666666666,806,219C806,243.33333333333334,794,267.6666666666667,794,292C794,316.3333333333333,806,340.6666666666667,806,365C806,389.3333333333333,794,413.6666666666667,794,438C794,462.3333333333333,806,486.6666666666667,806,511C806,535.3333333333334,794,559.6666666666666,794,584C794,608.3333333333334,806,632.6666666666666,806,657C806,681.3333333333334,794,705.6666666666666,794,730C794,754.3333333333334,806,778.6666666666666,806,803C806,827.3333333333334,794,851.6666666666666,794,876C794,900.3333333333334,806,924.6666666666666,806,949C806,973.3333333333334,794,997.6666666666666,794,1022C794,1046.3333333333333,806,1070.6666666666667,806,1095C806,1119.3333333333333,796,1155.8333333333333,794,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M822,-73C820,-60.833333333333336,810,-24.333333333333332,810,0C810,24.333333333333332,822,48.66666666666667,822,73C822,97.33333333333333,810,121.66666666666667,810,146C810,170.33333333333334,822,194.66666666666666,822,219C822,243.33333333333334,810,267.6666666666667,810,292C810,316.3333333333333,822,340.6666666666667,822,365C822,389.3333333333333,810,413.6666666666667,810,438C810,462.3333333333333,822,486.6666666666667,822,511C822,535.3333333333334,810,559.6666666666666,810,584C810,608.3333333333334,822,632.6666666666666,822,657C822,681.3333333333334,810,705.6666666666666,810,730C810,754.3333333333334,822,778.6666666666666,822,803C822,827.3333333333334,810,851.6666666666666,810,876C810,900.3333333333334,822,924.6666666666666,822,949C822,973.3333333333334,810,997.6666666666666,810,1022C810,1046.3333333333333,822,1070.6666666666667,822,1095C822,1119.3333333333333,812,1155.8333333333333,810,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M838,-73C836,-60.833333333333336,826,-24.333333333333332,826,0C826,24.333333333333332,838,48.66666666666667,838,73C838,97.33333333333333,826,121.66666666666667,826,146C826,170.33333333333334,838,194.66666666666666,838,219C838,243.33333333333334,826,267.6666666666667,826,292C826,316.3333333333333,838,340.6666666666667,838,365C838,389.3333333333333,826,413.6666666666667,826,438C826,462.3333333333333,838,486.6666666666667,838,511C838,535.3333333333334,826,559.6666666666666,826,584C826,608.3333333333334,838,632.6666666666666,838,657C838,681.3333333333334,826,705.6666666666666,826,730C826,754.3333333333334,838,778.6666666666666,838,803C838,827.3333333333334,826,851.6666666666666,826,876C826,900.3333333333334,838,924.6666666666666,838,949C838,973.3333333333334,826,997.6666666666666,826,1022C826,1046.3333333333333,838,1070.6666666666667,838,1095C838,1119.3333333333333,828,1155.8333333333333,826,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M854,-73C852,-60.833333333333336,842,-24.333333333333332,842,0C842,24.333333333333332,854,48.66666666666667,854,73C854,97.33333333333333,842,121.66666666666667,842,146C842,170.33333333333334,854,194.66666666666666,854,219C854,243.33333333333334,842,267.6666666666667,842,292C842,316.3333333333333,854,340.6666666666667,854,365C854,389.3333333333333,842,413.6666666666667,842,438C842,462.3333333333333,854,486.6666666666667,854,511C854,535.3333333333334,842,559.6666666666666,842,584C842,608.3333333333334,854,632.6666666666666,854,657C854,681.3333333333334,842,705.6666666666666,842,730C842,754.3333333333334,854,778.6666666666666,854,803C854,827.3333333333334,842,851.6666666666666,842,876C842,900.3333333333334,854,924.6666666666666,854,949C854,973.3333333333334,842,997.6666666666666,842,1022C842,1046.3333333333333,854,1070.6666666666667,854,1095C854,1119.3333333333333,844,1155.8333333333333,842,1168"
      fill="none"
      stroke="#000"
    ></path>

    <path
      d="M870,-73C868,-60.833333333333336,858,-24.333333333333332,858,0C858,24.333333333333332,870,48.66666666666667,870,73C870,97.33333333333333,858,121.66666666666667,858,146C858,170.33333333333334,870,194.66666666666666,870,219C870,243.33333333333334,858,267.6666666666667,858,292C858,316.3333333333333,870,340.6666666666667,870,365C870,389.3333333333333,858,413.6666666666667,858,438C858,462.3333333333333,870,486.6666666666667,870,511C870,535.3333333333334,858,559.6666666666666,858,584C858,608.3333333333334,870,632.6666666666666,870,657C870,681.3333333333334,858,705.6666666666666,858,730C858,754.3333333333334,870,778.6666666666666,870,803C870,827.3333333333334,858,851.6666666666666,858,876C858,900.3333333333334,870,924.6666666666666,870,949C870,973.3333333333334,858,997.6666666666666,858,1022C858,1046.3333333333333,870,1070.6666666666667,870,1095C870,1119.3333333333333,860,1155.8333333333333,858,1168"
      fill="none"
      stroke="#000"
    ></path>

    <circle cx="417" cy="515" r="158" fill="#fff"></circle>

    <circle cx="417" cy="515" r="158" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="138" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="118" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="98" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="78" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="58" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="38" fill="none" stroke="#000"></circle>

    <circle cx="417" cy="515" r="18" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="143" fill="#fff"></circle>

    <circle cx="315" cy="29" r="143" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="123" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="103" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="83" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="63" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="43" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="23" fill="none" stroke="#000"></circle>

    <circle cx="315" cy="29" r="3" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="201" fill="#fff"></circle>

    <circle cx="282" cy="822" r="201" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="181" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="161" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="141" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="121" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="101" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="81" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="61" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="41" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="21" fill="none" stroke="#000"></circle>

    <circle cx="282" cy="822" r="1" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="169" fill="#fff"></circle>

    <circle cx="765" cy="1034" r="169" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="149" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="129" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="109" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="89" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="69" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="49" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="29" fill="none" stroke="#000"></circle>

    <circle cx="765" cy="1034" r="9" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="175" fill="#fff"></circle>

    <circle cx="125" cy="85" r="175" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="155" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="135" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="115" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="95" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="75" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="55" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="35" fill="none" stroke="#000"></circle>

    <circle cx="125" cy="85" r="15" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="145" fill="#fff"></circle>

    <circle cx="284" cy="510" r="145" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="125" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="105" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="85" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="65" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="45" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="25" fill="none" stroke="#000"></circle>

    <circle cx="284" cy="510" r="5" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="221" fill="#fff"></circle>

    <circle cx="212" cy="752" r="221" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="201" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="181" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="161" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="141" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="121" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="101" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="81" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="61" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="41" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="21" fill="none" stroke="#000"></circle>

    <circle cx="212" cy="752" r="1" fill="none" stroke="#000"></circle>

    <circle cx="479" cy="424" r="86" fill="#fff"></circle>

    <circle cx="479" cy="424" r="86" fill="none" stroke="#000"></circle>

    <circle cx="479" cy="424" r="66" fill="none" stroke="#000"></circle>

    <circle cx="479" cy="424" r="46" fill="none" stroke="#000"></circle>

    <circle cx="479" cy="424" r="26" fill="none" stroke="#000"></circle>

    <circle cx="479" cy="424" r="6" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="144" fill="#fff"></circle>

    <circle cx="576" cy="244" r="144" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="124" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="104" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="84" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="64" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="44" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="24" fill="none" stroke="#000"></circle>

    <circle cx="576" cy="244" r="4" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="193" fill="#fff"></circle>

    <circle cx="595" cy="927" r="193" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="173" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="153" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="133" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="113" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="93" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="73" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="53" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="33" fill="none" stroke="#000"></circle>

    <circle cx="595" cy="927" r="13" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="112" fill="#fff"></circle>

    <circle cx="118" cy="1025" r="112" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="92" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="72" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="52" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="32" fill="none" stroke="#000"></circle>

    <circle cx="118" cy="1025" r="12" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="176" fill="#fff"></circle>

    <circle cx="526" cy="1037" r="176" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="156" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="136" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="116" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="96" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="76" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="56" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="36" fill="none" stroke="#000"></circle>

    <circle cx="526" cy="1037" r="16" fill="none" stroke="#000"></circle>

    <rect fill="#fff" x="-500" y="-500" width="620" height="2100"></rect>
    <rect fill="#fff" x="730" y="-500" width="620" height="2100"></rect>
    <rect fill="#fff" x="-500" y="-500" width="1850" height="620"></rect>
    <rect fill="#fff" x="-500" y="980" width="1850" height="600"></rect>
    <rect
      fill="none"
      stroke="#000"
      x="100"
      y="100"
      width="650"
      height="900"
    ></rect>
    <rect
      fill="none"
      stroke="#000"
      x="120"
      y="120"
      width="610"
      height="860"
    ></rect>
  </g>
</svg>
